:root {
  --header-height: 70px;
  --sidebar-width: 260px;
  --create-btn-height: 48px;
  --base-padding: 15px;
}

html {
  height: 100%;
}

body,
#app {
  height: inherit;
}

#app {
  background-color: #fff;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
}
